/* styles.css */
.navbar-nav .nav-item .nav-link {
    padding-bottom: 10px;
    /* Optional: Add some space below text */
    transition: all 0.3s ease;
}

/* Hover effect: add bottom border on hover */
.navbar-nav .nav-item .nav-link:hover {
    border-bottom: 2px solid #ff6347;
    /* You can choose the color you prefer (e.g., #ff6347 is a tomato red) */
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: white;
}