.colorwhitebyme {
    color: white !important;
    font-weight: bold;

}

.colorwhitebyme:hover {
    border-bottom: yellow 3px solid;
}

.paddingbyme {
    gap: 15px;
}

.navbarcolor {
    color: white !important;
    font-weight: bold;
}

.iconcolorbyme {
    background-color: white !important;
    border-radius: 50%;
}
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none; /* Remove any focus outline or shadow */
}